/*import de la police*/


.epilogue-<uniquifier> {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/*-------------------*/


body{
  font-family: "Epilogue", sans-serif;
  color: black;
  margin: 0;
}
/*-----------------*/

header{
  font-size: 1em;
  margin: 1%;
  text-align: center;
  
}
 
.desktop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navigation{
  display: flex;
justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

a{
  text-decoration: none;
  color: inherit;
 
}

.login-register{
  justify-items: end;
  float: right;

  }



#register{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px 10px;
  padding: 10px;
}

#register .bouton{
  padding: 0;
}

.logo{
  font-weight: bold;
  font-size: 2em;

}

.bouton{
   padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile{
  display: none;
}

/*-----------------*/

section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 8%;
  margin-top: 4%;
}

main{
  display: flex;
  flex-direction: column;
  padding: 8%;
}

aside{
  max-width: 40%;
  width: 100%;
}

main .bouton{
  background-color: black;
  color: white;
  border-radius: 10px 10px;
  width: fit-content;
  margin-top: 10%;
  font-size: 1.5em;
}

img{
  
  object-fit: cover;
  object-position: 25% 25%;
  max-width: 100%;
  border-radius: 20px 20px;
  width: 450px;
  height: 600px;
}

h1{
  font-size: 3em;
}

section p{
  font-weight: 500;
}

.bouton:hover{
  opacity: O.5;
  color: #a609ea;
}

main .desktop{
  flex-direction: column;
}




/*-----------------*/

@media screen and (max-width : 769px){
  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
    margin: 3%;
    justify-content: space-between;
  }

  section{
    flex-direction: column-reverse;
    margin: 0;
  }

  img{
    object-fit: contain;
    height: auto;
    width: auto;
  }

  .logo{
    font-size: 1.5em;
  }

  aside{
    width: 100%;
    max-width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  main{
    align-items: center;
  }

  p{
    text-align: center;
  }

  .navigation{
    width: auto;
  }
}